body {
    background-color: rgb(57, 184, 208)
}
#essay {
    text-align: lewwft;
    padding-top: 10px;
    color: #d4eeff;
}
#map {
    height: 1200px;
    width: 100%;
}
#homepageimage {
    height: 100%;
    width: 100%;
}
